.hero-section {
  background: #0f172a;
  padding-top: 115px;
  padding-bottom: 60px;

  @include media(desktop) {
    padding-top: 225px;
    padding-bottom: 0;
  }
}

.hero-wrapper {
  @include media(desktop) {
    display: none;
  }
}

.hero-title-wrapper {
  display: flex;
  gap: 14px;
  justify-content: center;
  margin-bottom: 20px;
}

.hero-top-title {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #f1f5f9;
}

.hero-span {
  color: #a3e635;
}

.hero-bottom-title {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: right;
  color: #f1f5f9;
  margin-bottom: 24px;
}

.hero-border-text {
  border: 0.92px solid #a3e635;
  border-radius: 18px;
  padding: 6.5px 15.5px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 7px;
  text-align: center;
  color: #f1f5f9;
  max-width: 109px;
}

.hero-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}

.hero-text {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #f1f5f9;
  margin-bottom: 40px;
}

.hero-book-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a3e635;
  padding: 18.5px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #000;
}

.hero-wrapper-desk {
  display: none;

  @include media(desktop) {
    display: block;
  }
}

.hero-top-title-wrapper-desk {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.hero-top-title-desk {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  color: #f1f5f9;
}

.hero-text-desk {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #f1f5f9;
  max-width: 628px;
}

.hero-bottom-title-wrapper-desk {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.hero-bottom-title-desk {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 78px;
  text-align: center;
  color: #f1f5f9;
}

.hero-border-text-desk {
  border: 2px solid #a3e635;
  border-radius: 40px;
  padding: 14px 26px;
  max-width: 222px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #f1f5f9;
}

.hero-book-btn-desk {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a3e635;
  padding: 28.5px 60px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  color: #000;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.hero-img-desk {
  margin-left: auto;
  margin-right: auto;
}
