.services-section {
  padding-bottom: 60px;

  @include media(desktop) {
    padding-bottom: 200px;
  }
}

.services-subtitle {
  margin-bottom: 24px;

  @include media(desktop) {
    margin-bottom: 60px;
  }
}

.services-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;

  @include media(desktop) {
    gap: 40px;
    margin-bottom: 100px;
  }
}

.services-list-item {
  backdrop-filter: blur(3.83677339553833px);
  background: rgba(163, 230, 53, 0.05);
  padding: 12.5px;
  width: 100%;

  @include media(desktop) {
    gap: 40px;
    max-width: 843px;
  }
}

.services-item-title {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  color: #a3e635;
  margin-bottom: 7px;

  @include media(desktop) {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.services-item-text {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  color: #f1f5f9;
  max-width: 232px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    font-size: 24px;
    max-width: 628px;
  }
}

.services-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a3e635;
  padding: 18.5px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #000;

  @include media(desktop) {
    padding: 28.5px;
    font-size: 28px;
    max-width: 628px;
    margin-left: auto;
    margin-right: auto;
  }
}
