<section class="section about-section" id="about">
  <div class="container about-container">
    <h2 class="section-title">About Us</h2>
    <p class="section-subtitle about-subtitle">
      Why Thought Leadership Needs Structure
    </p>
    <div class="about-top-wrapper">
      <picture>
        <source
          srcset="./img/about/about-top-img-desk.png"
          media="(min-width: 1440px)"
          width="628"
          height="200"
        />
        <source
          srcset="./img/about/about-top-img-mob.png"
          width="311"
          height="99"
        />
        <img
          class="about-top-img"
          src="./img/about/about-top-img-mob.png"
          alt=""
          width="311"
          height="99"
          loading="lazy"
        />
      </picture>
      <div class="about-top-text-wrapper">
        <span class="about-span"></span>
        <p class="about-top-text">
          We design webinars that position you as a leader—and move your
          audience to act.
        </p>
      </div>
    </div>
    <div class="about-bottom-wrapper">
      <picture>
        <source
          srcset="./img/about/about-bottom-img-desk.png"
          media="(min-width: 1440px)"
          width="628"
          height="351"
        />
        <source
          srcset="./img/about/about-bottom-img-mob.png"
          width="311"
          height="174"
        />
        <img
          class="about-bottom-img"
          src="./img/about/about-bottom-img-mob.png"
          alt=""
          width="311"
          height="174"
          loading="lazy"
        />
      </picture>
      <div class="about-bottom-text-wrapper">
        <p class="about-bottom-text">
          Great ideas don’t convert without delivery.
        </p>
        <p class="about-bottom-text">
          At EventQela, we help experts like you develop engaging webinar
          sessions that feel polished, purposeful, and professional.
        </p>
        <p class="about-bottom-text">
          Whether you’re launching your first live session or scaling up
          recurring content, we combine platform experience with storytelling,
          format structure, and content reuse strategies.
        </p>
      </div>
    </div>
  </div>
</section>
