<section id="cookie-banner" class="cookie-banner-section">
  <button
    class="cookie-close-btn"
    id="cookie-close-btn"
    aria-label="Close cookie banner"
  >
    <svg class="cookie-close-icon" width="36" height="36">
      <use href="./img/sprite.svg#icon-cross"></use>
    </svg>
  </button>
  <p class="cookie-banner-text">
    We use cookies to improve your experience on our website. By browsing this
    website, you agree to our use of cookies.
  </p>
  <div class="cookie-banner-buttons">
    <button class="cookie-decline-btn" id="cookie-decline">
      DECLINE COOKIES
    </button>
    <button class="cookie-accept-btn" id="cookie-accept">ACCEPT COOKIES</button>
  </div>
</section>
