<section class="section boosters-section" id="boosters">
  <div class="container boosters-container">
    <div class="section-title-wrapper">
      <picture>
        <source
          srcset="./img/boosters/boosters-title-desk.png"
          media="(min-width: 1440px)"
          width="74"
          height="74"
        />
        <source
          srcset="./img/boosters/boosters-title-mob.png"
          width="48"
          height="48"
        />
        <img
          class="boosters-title-img"
          src="./img/boosters/boosters-title-mob.png"
          alt="Title image"
          width="48"
          height="48"
          loading="lazy"
        />
      </picture>
      <h2 class="section-title boosters-title">Power Boosters</h2>
      <h2 class="section-title boosters-title">to the Rescue!</h2>
    </div>
    <p class="boosters-top-text">
      Stuck? Use powerful boosters and keep going!
    </p>
    <p class="boosters-bottom-text">
      Freeze time, shuffle items, or destroy blockers.
    </p>
    <ul class="boosters-list">
      <li class="boosters-item">
        <picture>
          <source
            srcset="./img/boosters/boosters-rocket-desk.png"
            media="(min-width: 1440px)"
            width="57"
            height="80"
          />
          <source
            srcset="./img/boosters/boosters-rocket-mob.png"
            width="40"
            height="56"
          />
          <img
            class="boosters-item-img"
            src="./img/boosters/boosters-rocket-mob.png"
            alt="Rocket"
            width="40"
            height="56"
            loading="lazy"
          />
        </picture>
        <p class="boosters-item-text">Explosive Fun</p>
      </li>
      <li class="boosters-item">
        <picture>
          <source
            srcset="./img/boosters/boosters-snowflake-desk.png"
            media="(min-width: 1440px)"
            width="48"
            height="80"
          />
          <source
            srcset="./img/boosters/boosters-snowflake-mob.png"
            width="34"
            height="56"
          />
          <img
            class="boosters-item-img"
            src="./img/boosters/boosters-snowflake-mob.png"
            alt="Snowflake"
            width="34"
            height="56"
            loading="lazy"
          />
        </picture>
        <p class="boosters-item-text">Level Up Fast</p>
      </li>
      <li class="boosters-item">
        <picture>
          <source
            srcset="./img/boosters/boosters-magnet-desk.png"
            media="(min-width: 1440px)"
            width="49"
            height="80"
          />
          <source
            srcset="./img/boosters/boosters-magnet-mob.png"
            width="34"
            height="56"
          />
          <img
            class="boosters-item-img"
            src="./img/boosters/boosters-magnet-mob.png"
            alt="Magnet"
            width="34"
            height="56"
            loading="lazy"
          />
        </picture>
        <p class="boosters-item-text">Smart Tools</p>
      </li>
    </ul>
  </div>
</section>
