<section class="section clients-section" id="clients">
  <div class="container clients-container">
    <h2 class="section-title">Who We Work With</h2>
    <p class="section-subtitle clients-subtitle">Built for Thought Leaders</p>
    <p class="clients-top-text">
       Whether you
      <span class="clients-span">teach, coach, consult, or demo</span>—our
      process works. EventQela supports:
    </p>
    <div class="clients-content-wrapper">
      <div class="clients-top-wrapper">
        <picture>
          <source
            srcset="./img/clients/clients-top-img-desk.png"
            media="(min-width: 1440px)"
            width="628"
            height="434"
          />
          <source
            srcset="./img/clients/clients-top-img-mob.png"
            width="311"
            height="215"
          />
          <img
            class="clients-top-img"
            src="./img/clients/clients-top-img-mob.png"
            alt=""
            width="311"
            height="215"
            loading="lazy"
          />
        </picture>
        <ul class="clients-top-list">
          <li class="clients-top-list-item">
            <picture>
              <source
                srcset="./img/clients/clients-img1-desk.png"
                media="(min-width: 1440px)"
                width="302"
                height="205"
              />
              <source
                srcset="./img/clients/clients-img1-mob.png"
                width="148"
                height="102"
              />
              <img
                class="clients-img1"
                src="./img/clients/clients-img1-mob.png"
                alt=""
                width="148"
                height="102"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="clients-top-list-item">
            <p class="clients-item-text">Coaches building personal brands</p>
          </li>
          <li class="clients-top-list-item">
            <p class="clients-item-text">Consultants growing authority</p>
          </li>
          <li class="clients-top-list-item">
            <picture>
              <source
                srcset="./img/clients/clients-img2-desk.png"
                media="(min-width: 1440px)"
                width="302"
                height="205"
              />
              <source
                srcset="./img/clients/clients-img2-mob.png"
                width="148"
                height="102"
              />
              <img
                class="clients-img2"
                src="./img/clients/clients-img2-mob.png"
                alt=""
                width="148"
                height="102"
                loading="lazy"
              />
            </picture>
          </li>
        </ul>
      </div>
      <div class="clients-bottom-wrapper">
        <ul class="clients-bottom-list">
          <li class="clients-bottom-list-item">
            <p class="clients-item-text">
              SaaS experts launching recurring webinars
            </p>
          </li>
          <li class="clients-bottom-list-item">
            <p class="clients-item-text">
              Niche educators scaling digital content
            </p>
          </li>
        </ul>
        <picture>
          <source
            srcset="./img/clients/clients-bottom-img-desk.png"
            media="(min-width: 1440px)"
            width="628"
            height="205"
          />
          <source
            srcset="./img/clients/clients-bottom-img-mob.png"
            width="311"
            height="136"
          />
          <img
            class="clients-bottom-img"
            src="./img/clients/clients-bottom-img-mob.png"
            alt=""
            width="311"
            height="136"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
    <p class="clients-bottom-text">
       If your goal is to teach, sell, or scale—your webinars need structure.
    </p>
    <p class="clients-bottom-subtitle">We’ll help you build it.</p>
  </div>
</section>
