<section class="section contact-section" id="contact">
  <div class="container contact-container">
    <h2 class="section-title">Contact</h2>
    <p class="section-subtitle contact-subtitle">
      Let’s Build Your Webinar Strategy
    </p>
    <div class="contact-content-wrapper">
      <div class="contact-top-wrapper">
        <div class="contact-email-wrapper">
          <svg class="email-icon" width="30" height="30">
            <use href="./img/sprite.svg#icon-email"></use>
          </svg>
          <p class="contact-email-text">
            Email:
            <a href="mailto:info@eventqela.site" class="contact-email-link"
              >info@eventqela.site</a
            >
          </p>
        </div>
        <div class="contact-top-text-wrapper">
          <p class="contact-top-text"> Social Hashtags:</p>
          <p class="contact-hashtag-text">
            #EventQela #WebinarStrategy #ThoughtLeadershipLive
          </p>
        </div>
        <div class="contact-top-text-wrapper">
          <p class="contact-top-text">Company Info:</p>
          <p class="contact-hashtag-text">
            EventQela Strategy LLC – Registered Limited Liability Company
          </p>
        </div>
      </div>
      <div class="contact-bottom-wrapper">
        <p class="contact-bottom-text">
          Have questions or want to explore how we can work together?<br />
          Reach out and let’s talk about your goals.
        </p>
        <a href="#about" class="contact-btn">Request Consultation</a>
      </div>
    </div>
  </div>
</section>
