<section class="section description-section" id="description">
  <div class="container description-container">
    <div class="description-bg-wrapper">
      <div class="section-title-wrapper">
        <picture>
          <source
            srcset="./img/description/description-title-desk.png"
            media="(min-width: 1440px)"
            width="74"
            height="74"
          />
          <source
            srcset="./img/description/description-title-mob.png"
            width="48"
            height="48"
          />
          <img
            class="description-title-img"
            src="./img/description/description-title-mob.png"
            alt="Title image"
            width="48"
            height="48"
            loading="lazy"
          />
        </picture>
        <h2 class="section-title description-title">Game</h2>
        <h2 class="section-title description-title">Description</h2>
      </div>
      <p class="description-text">
        Dive into Match Mania 3D – Triple Match, a vibrant puzzle adventure
        where your goal is simple: match 3 identical 3D items to clear the
        board! With over 400 delightful objects, intuitive gameplay, powerful
        boosters, and offline access, this brain-teasing journey will keep you
        hooked for hours—anytime, anywhere.
      </p>
    </div>
  </div>
</section>
