<footer class="footer" id="footer">
  <div class="footer-top-wrapper">
    <div class="container footer-container">
      <nav class="footer-nav">
        <ul class="footer-list">
          <li class="footer-list-item">
            <a class="footer-link" href="./index.html#services">Services</a>
          </li>
          <li class="footer-list-item">
            <a class="footer-link" href="./index.html#about">About</a>
          </li>
          <li class="footer-list-item">
            <a class="footer-link" href="./index.html#testimonials">Blog</a>
          </li>
          <li class="footer-list-item">
            <a class="footer-link" href="./privacy-policy.html"
              >Privacy Policy</a
            >
          </li>
          <li class="footer-list-item">
            <a class="footer-link" href="./terms-and-conditions.html"
              >Terms of Service</a
            >
          </li>
          <li class="footer-list-item">
            <a class="footer-link" href="./cookies-policy.html"
              >Cookies Policy</a
            >
          </li>
        </ul>
      </nav>
      <div class="footer-contacts-wrapper">
        <div class="footer-text-wrapper">
          <p class="footer-text">
             EventQela is a virtual strategy studio focused exclusively on
            helping thought leaders build webinars that inform, inspire, and
            grow their brand.
          </p>
        </div>
        <div class="footer-address-wrapper">
          <h3 class="footer-contacts-subtitle">Contact</h3>
          <div class="footer-email-wrapper">
            <p class="footer-email-text">Email:&nbsp;</p>
            <a href="mailto:info@eventqela.site" class="footer-email-link"
              >info@eventqela.site</a
            >
          </div>
          <p class="footer-remote-text">Remote-first consulting</p>
          <div class="footer-socials-wrapper">
            <a href="" class="footer-socials-link">LinkedIn</a
            ><span class="footer-span">&nbsp;|&nbsp;</span>
            <a href="" class="footer-socials-link">X</a
            ><span class="footer-span">&nbsp;|&nbsp;</span
            ><a href="" class="footer-socials-link">YouTube</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom-wrapper">
    <div class="container footer-container">
      <p class="footer-bottom-text">
         © 2025 EventQela Strategy LLC. All rights reserved.
      </p>
    </div>
  </div>
</footer>
