<footer class="footer" id="footer">
  <div class="container footer-container">
    <nav class="footer-nav">
      <div class="footer-list">
        <div class="footer-list-item">
          <a class="footer-link" href="./cookies-policy.html">Cookies Policy</a>
        </div>
        <div class="footer-list-item-desk">/</div>
        <div class="footer-list-item">
          <a class="footer-link" href="./privacy-policy.html">Privacy Policy</a>
        </div>
        <div class="footer-list-item-desk">/</div>
        <div class="footer-list-item">
          <a class="footer-link" href="./terms-and-conditions.html"
            >Terms and Conditions</a
          >
        </div>
      </div>
    </nav>
    <p class="footer-text">All rights reserved blogfu.space | 2025</p>
  </div>
</footer>
