<section class="section hero-section" id="home">
  <div class="hero-wrapper">
    <div class="container hero-container">
      <div class="hero-title-wrapper">
        <h1 class="hero-top-title">
          Turn <span class="hero-span">Your</span> Expertise
        </h1>
        <p class="hero-border-text">
          Webinars that work harder, look smarter, and grow your brand.
        </p>
      </div>
      <h1 class="hero-bottom-title">
        Into Impactful <span class="hero-span">Webinars</span>
      </h1>
    </div>
    <img
      class="hero-img"
      src="./img/hero/hero-img-mob.png"
      alt=""
      width="375"
      height="176"
    />
    <div class="container hero-container">
      <p class="hero-text">
        EventQela helps coaches, consultants, and SaaS experts craft
        high-converting thought leadership webinars that inform, convert, and
        scale.<br />
        From idea to post-event content – we cover the full strategy.
      </p>
      <a href="#contact" class="hero-book-btn">Book a Strategy Call</a>
    </div>
  </div>
  <div class="hero-wrapper-desk">
    <div class="container hero-container">
      <div class="hero-top-title-wrapper-desk">
        <h1 class="hero-top-title-desk">
          Turn <span class="hero-span">Your</span> Expertise
        </h1>
        <p class="hero-text-desk">
          EventQela helps coaches, consultants, and SaaS experts craft
          high-converting thought leadership webinars that inform, convert, and
          scale.<br />
          From idea to post-event content – we cover the full strategy.
        </p>
      </div>
      <div class="hero-bottom-title-wrapper-desk">
        <p class="hero-border-text-desk">
          Webinars that work harder, look smarter, and grow your brand.
        </p>
        <h1 class="hero-bottom-title-desk">
          Into Impactful <span class="hero-span">Webinars</span>
        </h1>
      </div>
      <a href="#contact" class="hero-book-btn-desk">Book a Strategy Call</a>
    </div>
    <img
      class="hero-img-desk"
      src="./img/hero/hero-img-desk.png"
      alt=""
      width="1440"
      height="244"
    />
  </div>
</section>
