<section class="section hero-section" id="home">
  <div class="container hero-container">
    <picture>
      <source
        srcset="./img/hero/hero-title-desk.png"
        media="(min-width: 1440px)"
        width="384"
        height="273"
      />
      <source srcset="./img/hero/hero-title-mob.png" width="219" height="156" />
      <img
        class="hero-title-img"
        src="./img/hero/hero-title-mob.png"
        alt="Title"
        width="219"
        height="156"
      />
    </picture>
    <div class="hero-btn-wrapper">
      <a
        class="hero-btn"
        href="#choose"
        rel="noopener noreferrer"
        title="Download the game Match Mania 3D on Google Play"
        aria-label="Download the game Match Mania 3D on Google Play"
      >
        <picture>
          <source
            srcset="./img/hero/hero-google-play-desk.png"
            media="(min-width: 1440px)"
            width="236"
            height="70"
          />
          <source
            srcset="./img/hero/hero-google-play-mob.png"
            width="157"
            height="47"
          />
          <img
            class="hero-google-play-img"
            src="./img/hero/hero-google-play-mob.png"
            alt="Google Play button"
            width="157"
            height="47"
          />
        </picture>
      </a>
    </div>
  </div>
</section>
